*.x
*.o
*.dSYM
.DS_Store
*.d
*.so
*.root
*.pcm
*.log
*.sh
scripts/DO_hadd.pyc
Fall17_94X_DYJetsToLL/
Fall17_94X_SMS_EWK/
Autumn18_102X_WJetsLNu/
Fall17_94X_ZZinclusive/
effPlots/*.pdf
samples/
Lists/
Autumn18_102X_QCD/
Fall17_102X_QCD/
Fall17_94X_DYJetstoLL/
Summer16_102X_QCD/
Fall17_102X_WJetsToLNu/
Summer16_102X_WJetsToLNu/
